<%= link_to("Moedas", coins_path, class:"btn btn-primary btn-lg", role:"button")%>
<%= link_to("Tipos de Mineração", mining_types_path, class:"btn btn-secondary btn-lg", role:"button")%>
<!-- Partials -->
    <!--
    <li>
        Este método é com HTML e o debaixo é com RUBY
        <a href='/coins'> Cadastro de Moedas - HTML</a>
    </li>
    -->


